<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.uddishverma22.mait_go">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />

    <application
        android:name=".Utils.RealmStarter"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="56844c04f3322c63da5e3cde103324db6365f674" />

        <activity android:name=".Activities.Notices" />
        <activity android:name=".Activities.NoticeWebView" />
        <activity android:name=".Activities.UserProfile" />
        <activity android:name=".BarcodeGenerator.Generation" />
        <activity
            android:name=".Activities.Result"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.Login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.FacultyInformation" />
        <activity android:name=".Activities.Announcements" />
        <activity android:name=".Activities.Assignments" />
        <activity android:name=".Activities.UpcomingEvents" />
        <activity android:name=".Activities.AssignmentImageViewer" />
        <activity android:name=".Activities.EventsDetailsPage"></activity>
    </application>

</manifest>